@media (max-width:2560px) {
    .A{
        margin-top: 10px;
    }
    .A h1{
        margin-left: -224px;
    }
    .A h5{
        margin-left: -224px;
        margin-top: -15px;
    }
    .A img{
        margin-left: 250px;
        margin-top: 20px;
    }
    .C{
        margin-top: 10px;
    }
    .D{
        margin-top: 100px;
        background-color: rgb(151, 183, 183);
    }
    .E{
        margin-top: 50px;
        
    }
    .E h1{
        text-align: center;
    }
    .F{
        margin-top: 100px;
    }
    .F h1{
        text-align: center;
    }

    .G{
        margin-top: 70px;
        text-align: center;
    }
    .G h2{
        text-align: center;
    }
    .G table{
        margin-left: 80px;
    }
    .i{
        text-align: center;
        margin-top: 40px;
    }
    .H{
        margin-top: 70px;
    }
    .j h1{
        margin-top: 50px;
        text-align: center;
    }

    
    
}













@media (max-width:2560px) {
    
}
@media (max-width:2560px) {
    
}
@media (max-width:2560px) {
    
}
@media (max-width:2560px) {
    
}
@media (max-width:2560px) {
    
}
@media (max-width:2560px) {
    
}
